<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css">
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/index.js"></script>
</head>
<body>
    <div id="registerBox">
        username: <input type="text" class="username"><br>
        password: <input type="password" class="password"><br>
        repassword: <input type="password" class="repassword"><br>
        <button class="btn-register">注册</button>
    </div>
</body>
</html>