<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .header li {
            float: left;
            margin: 10px;
            list-style: none;
        }
        .header::after {
            content: '';
            display: table;
            clear: both;
            visibility: hidden;
        }
    </style>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <ul class="header">
        <li>
            <a href="/admin">首页</a>
        </li>
        <li>
            <a href="/admin/banner">banner</a>
        </li>
        <li>
            <a href="">博客</a>
        </li>
        <li>
            <a href="">新闻</a>
        </li>
        <li>
            <a href="">产品介绍</a>
        </li>
        <li>
            <a href="/admin/customer">用户评价</a>
        </li>
        <li>
            <a href="">消息</a>
        </li>
        <li>
            <a href="">关于我们</a>
        </li>
    </ul>
</body>
</html>